{% load static %}
<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.4/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.js"></script>
    <script src="https://unpkg.com/vee-validate@2.0.0-rc.18/dist/vee-validate.js"></script>
    <script src="{% static "general_components.js" %}"></script>
    <script src="{% static "pilots.js" %}" defer></script>
    <link rel="stylesheet" href="{% static "pilots.css" %}">
</head>

<body>
    <div id="root">
        <page-title></page-title>
        <nav-menu></nav-menu>
        <pilots></pilots>
        </div>
</body>

</html>