.is-centered {
    margin-left: auto;
    margin-right: auto;
}

.table td {
    vertical-align: middle;
}

.ids {
    position: relative;
    clear: both;
    zoom: 1;
}

.ids:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
}

.controls {
    margin-left: 100px;
    margin-right: 100px;
}