.is-centered {
    margin-left: auto;
    margin-right: auto;
}

.table td {
    vertical-align: middle;
}

.ids {
    position: relative;
    clear: both;
    zoom: 1;
}

.ids:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
}

.controls {
    max-width: 1000px;
    padding: 25px;
    border-radius: 10px;
    background-color: lightblue;

}

.add-pilot .modal-card {
    width: 300px;
}